.section-property--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 74%;
  }
  .section-property--grid .section--square {
    background-color: #cc8ef5;
    border: 1px solid #505050;
  }
  .section-property--grid-modify {
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    grid-template-rows: 50px 1fr 2fr;
    gap: 10px;
    height: 74%;
  }
  
  .section-property--grid-modify .section--square {
    background-color: #cc8ef5;
    border: 1px solid #505050;
  }
  .section-property--grid-auto {
    display: grid;
    grid-template: 'c1 c1 c1' 'c2 c2 c2' 'c3 c3 c3';
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    height: 74%;
  }
  .section-property--grid-auto .section--square {
    background-color: #cc8ef5;
    border: 1px solid #505050;
  }
  
  .section-property--grid-areas {
    display: grid;
    grid-template:
      'header header header'
      '. main .'
      '. main .'
      'footer footer footer';
    grid-template-rows: 50px repeat(2, 1fr) 1fr;
    grid-template-columns: 100px 1fr 100px;
    gap: 10px;
    height: 74%;
  }
  .section-property--grid-areas .section--square {
    background-color: #cc8ef5;
    border: 1px solid #505050;
  }
  .section-property--grid-areas .section--square:nth-child(1) {
    grid-area: header;
  }
  .section-property--grid-areas .section--square:nth-child(2) {
    grid-area: main;
  }
  .section-property--grid-areas .section--square:nth-child(3) {
    grid-area: footer;
  }
  
  .section-property--grid-complex {
    display: grid;
    grid-template:
      'logo header header header'
      'main main main aside'
      'main main main aside'
      '. article article aside'
      'footer footer footer footer';
    grid-template-rows: 50px repeat(2, 50px) 50px 80px;
    grid-template-columns: 50px repeat(2, 1fr) 150px;
    gap: 10px;
    height: 74%;
  }
  .section-property--grid-complex .section--square:nth-child(1) {
    grid-area: logo;
  }
  .section-property--grid-complex .section--square:nth-child(2) {
    grid-area: header;
  }
  .section-property--grid-complex .section--square:nth-child(3) {
    grid-area: main;
  }
  .section-property--grid-complex .section--square:nth-child(4) {
    grid-area: aside;
  }
  .section-property--grid-complex .section--square:nth-child(5) {
    grid-area: article;
  }
  .section-property--grid-complex .section--square:nth-child(6) {
    grid-area: footer;
  }
  .section-property--grid-complex .section--square {
    background-color: #cc8ef5;
    border: 1px solid #505050;
  }
  
  .section-property--grid-lines {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 74%;
  }
  .section-property--grid-lines .section--square:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
  
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .section-property--grid-lines .section--square:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
  
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .section-property--grid-lines .section--square:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
  
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .section-property--grid-lines .section--square:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 4;
  
    grid-row-start: 1;
    grid-row-end: 4;
  }
  
  .section-property--grid-lines .section--square {
    background-color: #cc8ef5;
    border: 1px solid #505050;
  }